@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

html
{
  font-size: 14px;
}

a {
  text-decoration: none;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-weight: 800;
  transition: 0.5s;
}

.toggle,
[id^=drop] {
  display: none;
}

nav { 
  margin-top: 30px;
  padding: 0 86px;
  background-color: #1C1C1C;
}

nav:after {
  content:"";
  display:table;
  clear:both;
}

nav ul {
  float: right;
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display:inline-block;
  float: left;
  background-color: #1C1C1C;
}

nav ul li a {
  display:block;
  padding:14px 20px;  
  color:#FFF;
  font-size: 1.6rem;
  text-decoration:none;
  background-color: #242424;
  color: #948F8B;
  margin-right: 20px;
  border-radius: 9px;
  transition: 0.2s;
}

nav ul li a:hover { 
  background-color: #404040; 
  color: #FFFFFF;
  transition: 0.2s;
}

nav ul li:hover > ul {
  display:inherit;
}

#logo {
  display: block;
  float: left;
}


#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(28, 28, 28, 0.6), rgba(28, 28, 28, 0.6)), url(R2_1.png) no-repeat bottom;
  background-color: #1C1C1C;
  width: 1440px;
  border-left: 2px solid #252526;
  border-right: 2px solid #252526;
}

#mobile_pic {
  display: none;
}

#main {
  display: flex;
  margin: 0px 86px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main > img {
  width: 100%;
}

.main_text {
  margin-top: 12px;
  font-size: 1.55rem;
  max-width: 569px;
  color: #ffffff;
  text-align: center;
}

.add_text {
  font-weight: 700;
  color: #948F8B;
  margin-top: 10px;
  text-align: center;
}

.join_button {
  font-size: 1.33rem;
  font-weight: 600;
  background-color: #B1A28D;
  text-decoration: none;
  border-radius: 8px;
  color: black;
  padding: 17px 74px 18px 80px;
  margin-top: 24px;
  transition: 0.2s;
}

.join_button:hover {
  background-color: #E0CBAD;
  transition: 0.2s;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p:nth-child(2) {
  margin-top: 10px;
  font-size: 0.6rem;
  color: #404040;
  margin-bottom: 11px;
}

footer p:nth-child(3){
  font-size: 1rem;
  color: #404040;
  margin-bottom: 31px;
}

@media ((min-width: 1110px) and (max-width: 1440px)) { 

  #container {
    border: 0px;
  }
  
}

@media ((min-width: 992px) and (max-width: 1109px)) {

  html
  {
    font-size: 12px;
  }

  #container {
    border: 0px;
  }

}

@media (max-width: 991px) { 

  html{
    font-size: 12px;
  }

  nav a {
    margin: 0px;
  }

  .toggle + a,
  .menu {
    display: none;
  }

  #hamburger {
    padding: 6px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 51px;
    cursor: pointer;
    width: 51px;
  }

  #hamburger:hover .bar{
    width: 80%;
    height: 80%;
  }

  #hamburger.active:hover .bar{
    width: 74%;
    height: 0px;
  }

  #hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1){
    transform: translateY(14px) rotate(45deg);
  }

  #hamburger.active .bar:nth-child(3){
    transform: translateY(-13px) rotate(-45deg);
  }



  nav ul li a {
    margin-right: 0px;
  }

  .bar {
    background-color: #B1A28D;
    margin: 4px;
    width: 74%;
    height: 0px;
    border-radius: 10px;
    border: 2px solid #B1A28D;
    transition: 0.3s;
  }

  .toggle {
    display: flex;
    justify-content: flex-end;
    background-color: #1C1C1C;
    padding:14px 0px;  
    text-decoration:none;
    border:none;
  }

  [id^=drop]:checked + ul {
    display: block;
  }

  ul img {
    display: none;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul li a {
    border-radius: 0px;
  }

  nav ul li a:hover{
    background-color: #1C1C1C;
    border-radius: 0px;
  }
  
  nav ul li:hover > ul {
    display: none;
  }

  #container {
    border: 0px;
  }

}

@media ((min-width: 651px)and (max-width: 767px)) {

  #main > img {
    width: 70%;
  }

}

@media (max-width: 767px) { 

  nav {
    padding: 27px 26px;
  }

  nav {
    margin: 0;
  }

  html {
    font-size: 12px;
  }

  #main img:nth-child(1) {
    display: none;
  }

  #mobile_pic {
    display: block;
  }

  footer {
    margin-top: 50px;
  }

  #container {
    border: 0px;
  }

}

@media (max-width: 431px) {

  #main {
    margin: 0px 26px;
  }

}

@media (max-width: 321px) {

  nav ul li {
    display:block;
    width: 100%;
  }
  
}

